* {
  box-sizing: border-box;
  font-family: "karla", sans-serif;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.header--container {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 3.297rem;
  color: #ffffff;
}

.header--img {
  width: 7.938rem;
  height: auto;
}

.header--p {
  color: #ffffff;
  font-size: 2rem;
}

.form {
  display: grid;
  grid-template-columns: 53.688rem 53.688rem;
  grid-template-rows: 5.188rem;
  column-gap: 5rem;
  row-gap: 2rem;
  justify-content: center;
  padding-top: 8rem;
}

.form--input {
  width: 53.688rem;
  height: 5.188rem;
  border: 0.2rem solid #d5d4d8;
  border-radius: 1rem;
  font-size: 1.75rem;
  text-indent: 1rem;
}

.form--btn {
  justify-self: stretch;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border: none;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  height: 7rem;
  border-radius: 1rem;
  grid-column: -3 / -1;
  cursor: pointer;
}
